/* src/ui/InfiniteMovingCards.css */
.infinite-cards-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .infinite-cards-container.right {
    animation: scrollRight linear infinite;
  }
  
  .infinite-cards-container.left {
    animation: scrollLeft linear infinite;
  }
  
  .infinite-cards-container.slow {
    animation-duration: 20s;
  }
  
  .infinite-cards-container.fast {
    animation-duration: 10s;
  }
  
  @keyframes scrollRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes scrollLeft {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .card {
    background-size: cover;
    background-position: center;
  }
  